html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0;
  color: #5f5f5f;
  background: #1e0010;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  line-height: 54px;
}
.collapse {
  display: none
}
.news-container {
  position: relative;
  height: 40px;
  padding: 0 1em;
  text-decoration: none;
  line-height: 40px;
  margin: auto;
  background: #2188b6;
  color: rgba(255,255,255,0.8)
}

.news-inner {
  position: relative;
  z-index: 1;
  pointer-events: none
}

.outer {
  width: 100%;               /* 宽度为屏幕宽度 */
  height: 54px;              /* 高度为 54px */
  display: flex;             /* 使用 Flexbox 布局 */
  justify-content: center;   /* 水平居中 */
  align-items: center;       /* 垂直居中 */
  background-color: #ffffff;
}

/* 中间的 div，设置为 Flexbox 布局 */
.inner {
  display: flex;             /* 使用 Flexbox 布局 */
  justify-content: space-between;  /* 左右对齐 */
  width: 100%;               /* 使其宽度充满父容器 */
  margin-left: 15%;
  margin-right: 15%;
  height: 54px;
}

/* 左对齐的内容 */
.left {
  text-align: left;
  background-color: #ffffff;
  height: 100%;
}

/* 右对齐的内容 */
.right {
  text-align: right;
  background-color: #ffffff;
  height: 100%;
}

.navbar-nav {
  list-style-type: none;  /* 去掉默认的圆点 */
  padding: 0;             /* 去掉内边距 */
  display: flex;          /* 设置为水平排列 */
  background-color: #ffffff; /* 背景颜色 */
  margin: 0;
}

/* 导航栏项 */
.navbar-nav li {
  margin-right: 20px;     /* 每个导航项之间的间距 */
}

/* 导航链接 */
.navbar-nav a {
  display: block;         /* 让链接填充整个li元素 */
  padding: 14px 20px;     /* 内边距，使链接更大 */
  color: #5f5f5f;           /* 设置文本颜色 */
  text-decoration: none;  /* 去掉下划线 */
  text-align: center;     /* 文字居中 */
}
.navbar-nav a:hover {
  background-color: #575757; /* 悬停时改变背景颜色 */
}

.banner{
  height: 400px;
  width: 100%;
  background: #2188b6;
}
h1 {
  margin: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 80px;
}
.banner-top{
  margin: 0 18%;
  margin-bottom: 40px;
}
.banner-bottom{
  margin: 0 18%;
}

.banner-bottom input{
  background: none;
  color: #fff;
  font-size: 30px;
  border: 2px solid #000; /* 设置按钮的边框样式：2px 实线，颜色为蓝色 */
  border-radius: 8px;
}
